[Unit]
Description=stacki-install
After=network.target
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/opt/stack/bin/installpi.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
